<Bar
  Mode="BarMode.VerticalInline"
  CollapseMode="BarCollapseMode.Small"
  Breakpoint="Breakpoint.Desktop"
  NavigationBreakpoint="Breakpoint.Tablet"
  ThemeContrast="ThemeContrast.Dark"
>
  <BarBrand>
    <h1 class="text-center" >Bem Vindo!</h1>
  </BarBrand>
  <BarMenu>
    <BarStart>
      <BarItem>
        <BarLink To="afazeres">
          <BarIcon IconName="IconName.Dashboard" />
          Testes em aula
        </BarLink>
      </BarItem>
      <BarItem>
        <BarLink To="todolist">
          <BarIcon IconName="IconName.User" />
          Usuário
        </BarLink>
      </BarItem>
    </BarStart>
  </BarMenu>
</Bar>